<div
  class="container-fluid pt-5 pb-5 bg-color-jobs d-flex align-items-start justify-content-evenly flex-wrap"
>
  <!-- Job Card -->
  <div
    class="card border border-2 bg-transparent bg-gradient m-3 jobs-card"
    style="width: 320px"
  >
    <!-- Card Header -->
    <div class="header p-2">
      <button
        type="button"
        class="btn btn-outline-success fs-5 mb-2 text-light btn-bg-color"
      >
        Actively hiring <i class="fa-solid fa-chart-line i-color"></i>
      </button>
      <h2 class="bg-primary fw-bold text-light mb-3">Coding Ninjas</h2>
      <span class="d-flex"
        ><h3 class="text-light">Tech</h3>
        <h3 class="text-primary ml-2">SDE</h3></span
      >
    </div>
    <!-- Header Ends Here -->
    <!-- Card Body -->
    <div class="card-body p-4 pb-2">
      <h5 class="text-light fw-bold pb-4">
        <i class="fa-solid fa-location-dot"></i> gurgaon HR IND Remote
      </h5>
      <h5 class="text-light fw-bold pb-4">
        <i class="fa-solid fa-indian-rupee-sign"></i> 20lpa
      </h5>
      <div id="skills">
        <button type="button" class="btn btn-outline-info mb-2">REACT</button>
        <button type="button" class="btn btn-outline-info mb-2">NODEJS</button>
        <button type="button" class="btn btn-outline-info mb-2">JS</button>
        <button type="button" class="btn btn-outline-info mb-2">SQL</button>
        <button type="button" class="btn btn-outline-info mb-2">MONGODB</button>
        <button type="button" class="btn btn-outline-info mb-2">EXPRESS</button>
        <button type="button" class="btn btn-outline-info mb-2">AWS</button>
      </div>
    </div>
    <!-- Card Body Ends Here -->
    <!-- View Details -->
    <div>
      <a
        href="/jobs/job-page"
        class="d-flex justify-content-center text-decoration-none"
      >
        <button
          type="button"
          class="btn btn-outline-success mb-4 w-75"
          id="view-details-button"
        >
          View Details
        </button>
      </a>
    </div>
    <!-- View Details Ends Here -->
  </div>
  <!-- Job Card Ends Here -->
</div>
